rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profiles
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Public Data
    match /restaurants/{restaurantId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == restaurantId;
      
      match /products/{productId} {
      	allow read: if true;
        allow write: if request.auth != null && request.auth.uid == restaurantId;
      }
    }
    
    // User orders
    match /orders/{orderId} {
      // Users can read if they are the owner or the restaurant
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.uid == resource.data.restaurantId);
      // Users can only create orders for themselves
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      // Restaurants can update status
      allow update: if request.auth != null && request.auth.uid == resource.data.restaurantId;
      allow delete: if false;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}