rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /restaurants/{restaurantId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == restaurantId;
    }

    match /delivery_docs/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /global_icons/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /taxi_proofs/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
